{% extends "base.html" %}
{% block titulo  %}
    Autoridades
{% endblock %}
{% block tituloH1  %}
    Autoridades
{% endblock %}
{% block contenido_principal %}
            <div class="container-fluid">
                <div class="row align-items-center">
                    <div class="col-sm-12">
                        <hr>
                    </div>
                    <div class="col-sm-12 col-md-6 col-lg-4">
                        <figure>
                            <img src="recursos/director.png" alt="Director General" class="img-thumbnail">
                            <figcaption class="text-center"><b>Director General</b></figcaption>
                        </figure> 
                    </div>
                    <div class="col-sm-12 col-md-6 col-lg-4">
                        <figure>
                            <img src="recursos/rectora.png" alt="Rectora"  class="img-thumbnail">
                            <figcaption class="text-center"><b>Rectora</b></figcaption>
                        </figure> 
                    </div>
                    <div class="col-sm-12 col-md-6 col-lg-4">
                        <figure>
                            <img src="recursos/directora_centenario.png" alt="Directora Educación Inicial y Básica, Sede Centenario" class="img-thumbnail">
                            <figcaption class="text-center"><b>Directora Educación Inicial y Básica, Sede Centenario</b></figcaption>
                        </figure> 
                    </div>
                    <div class="col-sm-12 col-md-6 col-lg-4">
                        <figure>
                            <img src="recursos/directora_samborondon.png" alt="Directora de Inicial Sede Sambarondón"  class="img-thumbnail">
                            <figcaption class="text-center"><b>Directora de Inicial Sede Sambarondón</b></figcaption>
                        </figure> 
                    </div>
                    <div class="col-sm-12 col-md-6 col-lg-4">
                        <figure>
                            <img src="recursos/directora2_samborondon.jpg" alt="Directora de Primaria Sede Samborondón" class="img-thumbnail">
                            <figcaption class="text-center"><b>Directora de Primaria Sede Samborondón</b></figcaption>
                        </figure> 
                    </div>
                    <div class="col-sm-12 col-md-6 col-lg-4">
                        <figure>
                            <img src="recursos/directora2_samborondon.jpg" alt="Directora de Primaria Sede Centenario"  class="img-thumbnail">
                            <figcaption class="text-center"><b>Directora de Primaria Sede Centenario</b></figcaption>
                        </figure> 
                    </div>
                    <div class="col-sm-12">
                        <hr>
                    </div>
                </div>
            </div>
{% endblock %}       