{% extends "base.html" %}
{% block titulo  %}
    Nivel Inicial
{% endblock %}
{% block tituloH1  %}
    Nivel Inicial
{% endblock %}
{% block contenido_principal %}
            <div class="container-fluid">
                <div class="row align-items-center">
                    <div class="col-sm-12">
                        <hr>
                    </div>
                    <div class="col-sm-12 col-md-6">
                        
                        <img src="recursos/inicial.jpg" alt="Nivel Inicial - Dos estudiantes de nivel inicial con su maestra" class="img-fluid">
                    </div>
                    <div class="col-sm-12 col-md-6">
                        <h2 class="text-center">Nivel Inicial</h2>
                            <p>La sección Inicial de “La Unidad Educativa Particular 
                                Liceo Panamericano” es parte de una Institución 
                                cristiano-católica, bilingüe y orientada en valores, 
                                por lo cual ofrece una educación integral en sus tres 
                                niveles: maternal, Inicial 1-2 y Primero de Básica.</p>
                            <p>Con su metodología constructivista favorece el desarrollo 
                                de habilidades y destrezas indispensables para alcanzar 
                                con éxito las competencias básicas en lecto-escritura y 
                                pre-matemática.</p>
                            <h2 class="text-center">¿QUÉ ES LA EDUCACIÓN INICIAL?</h2>
                            <p>La Educación Inicial es la etapa de aprestamiento en la cual 
                                se prepara a los niños para el siguiente ciclo o nivel de 
                                aprendizaje, que es la escuela. Se le llama también Jardín 
                                de Infantes o Preescolar, aquí se complementa la educación 
                                que recibe el niño dentro de su familia y es un proceso 
                                continuo y permanente de interacciones y relaciones sociales 
                                de calidad, oportunas y pertinentes que posibilitan a los 
                                niños y a las niñas potenciar sus capacidades y desarrollar 
                                competencias para la vida.</p>
                    </div>
                    <div class="col-sm-12">
                        <hr>
                    </div>
                </div>
            </div>
{% endblock %}           
       
