{% extends "base.html" %}
{% block titulo  %}
    Primaria
{% endblock %}
{% block tituloH1  %}
    Primaria
{% endblock %}
{% block contenido_principal %}
            <div class="container-fluid">
                <div class="row align-items-center">
                    <div class="col-sm-12">
                        <hr>
                    </div>
                    <div class="col-sm-12 col-md-6">
                        
                        <img src="recursos/primaria.jpg" alt="Primaria - Estudiantes de primaria en el patio." class="img-fluid">
                    </div>
                    <div class="col-sm-12 col-md-6">
                        <h2 class="text-center">Primaria</h2>
                            <p>La sección Primaria de la Unidad Educativa Liceo 
                                Panamericano atiende a dos subniveles de Educación 
                                General Básica: el Elemental y el Medio.</p>
                            <p>En estos subniveles el estudiante desarrolla habilidades 
                                cognitivas y sociales, a través del trabajo dirigido, 
                                en equipo e individual. Se sientan las bases para la formación 
                                de destrezas que les permita convertirse en lectores, 
                                hablantes y escritores competentes. Además del desarrollo 
                                de competencias básicas de razonamiento para resolver 
                                problemas en situaciones cotidianas.</p>
                            <p>
                               El docente es un apoyo en todo momento para la comprensión 
                               y producción oral y escrita, así como también es un guía 
                               para el desarrollo de habilidades de investigación.  
                               En este sentido, nuestros estudiantes se benefician del 
                               manejo de herramientas tecnológicas de información e investigación, 
                               aprenden a analizar y criticar los fenómenos sociales, naturales y 
                               económicos del país y el mundo, incluyendo la comprensión, 
                               funcionamiento y cuidado de los ecosistemas y formulación de
                               medidas de protección y cuidado. 
                            </p>
                            <p>
                               Contamos con infraestructura acorde  las necesidades tecnológicas 
                               actuales y espacios para la recreación, el ocio y el deporte en 
                               sus diferentes disciplinas. Dentro de las actividades extracurriculares 
                               se ofrece: Volleyball, Fútbol, Basketball, Atletismo, Cherrleaders y Patinaje. 
                            </p>
                    </div>
                    <div class="col-sm-12">
                        <hr>
                    </div>
                </div>
            </div>
{% endblock %}            
       