{% extends "base.html" %}
{% block titulo  %}
    Unidad Educativa Particular Bilingüe Liceo Panamericano
{% endblock %}
{% block tituloH1  %}
    Unidad Educativa Particular Bilingüe Liceo Panamericano
{% endblock %}
{% block contenido_principal %}
            <div class="container-fluid">
                <div class="row align-items-center">
                    <div class="col-sm-12 d-none d-md-block"><hr></div>
                    <div class="col-sm-12 col-lg-3">
                        <hr>
                        <h2 class="text-center">Educación en valores</h2>
                        <hr>
                        <p>
                          Somos un centro educativo que marca la diferencia, por su compromiso en la formación del estudiante, como un ser humano, donde la Educación en Valores y el sentido de familia,  tienen un rol prioritario.  
                        </p>
                    </div>
                    <div class="col-sm-12 col-md-4 col-lg-3">
                        <figure>
                            <img src="recursos/inicial.jpg" alt="Nivel Inicial - Dos estudiantes de nivel inicial con su maestra" class="img-thumbnail">
                            <figcaption class="text-center"><b>Educación Inicial <br>    <a href="/nivel-inicial"><button type="button" class="btn btn-primary btn-sm btn-block">Leer más de educación inicial</button></a></b></figcaption>
                        </figure> 
                    
                    </div>
                    <div class="col-sm-12 col-md-4 col-lg-3">
                        <figure>
                            <img src="recursos/primaria.jpg" alt="Primaria - Estudiantes de primaria en el patio." class="img-thumbnail">
                            <figcaption class="text-center"><b>Primaria</b> <br><a href="/primaria"><button type="button" class="btn btn-primary btn-sm btn-block">Leer más de primaria</button></a></figcaption>
                        </figure> 
                        
                    </div>
                    <div class="col-sm-12 col-md-4 col-lg-3">
                        <figure>
                            <img src="recursos/secundaria.jpg" alt="Secundaria - Grupo de estudiantes de secundaria en un aula de clase con su docente" class="img-thumbnail">
                            <figcaption class="text-center"><b>Secundaria</b><br> <a href="/secundaria"><button type="button" class="btn btn-primary btn-sm btn-block">Leer más de secundaria</button></a></figcaption>
                        </figure> 
                        
                    </div>
                    <div class="col-sm-12 ">
                        <hr>
                        <h2 class="text-center">Misión, Visión y Valores</h2>
                        <hr>
                    </div>
                    <div class="col-sm-12 col-md-6 col-lg-4">
                        <img src="recursos/mision.jpg" alt="Mision - estudiantes en la biblioteca" class="img-fluid mx-auto d-block"> 
                    </div>
                    <div class="col-sm-12 col-md-6 col-lg-8">
                        <h3>Misión</h3>
                        <p>Implementar una metodología innovadora, 
                            creativa, motivadora y colaborativa que 
                            desarrolle los aprenderes necesarios para 
                            la vida, en un ambiente bilingüe y con una 
                            visión internacional para dar forma a la 
                            sociedad del futuro.</p>
                    </div>
                    <div class="col-sm-12 col-md-6 col-lg-4">
                        <img src="recursos/vision.jpg" alt="Vision - estudiantes leyendo y pintando en el parque" class="img-fluid mx-auto d-block"> 
                    </div>
                    <div class="col-sm-12 col-md-6 col-lg-8">
                        <h3>Visión</h3>
                        <p>En 5 años, nos consolidamos como un 
                            referente en innovación pedagógica y 
                            programas del Bachillerato Internacional, 
                            para fortalecer el liderazgo, la autonomía 
                            y el equilibrio de todas las dimensiones 
                            humanas: física, emocional, intelectual y 
                            espiritual en nuestros estudiantes.</p>
                    </div>
                    <div class="col-sm-12 col-md-6 col-lg-4">
                        <img src="recursos/valores.jpg" alt="valores - estudiantes formando una circunferencia en la cancha de futbol." class="img-fluid mx-auto d-block"> 
                    </div>
                    <div class="col-sm-12 col-md-6 col-lg-8">
                        <h3>Valores</h3>
                        <p>Estamos conscientes que los valores deben 
                            vivenciarse; de ahí la importancia de 
                            reflexionar y modelar un comportamiento 
                            ético consecuente con el desarrollo de 
                            habilidades, destrezas y competencias que 
                            le permitan a nuestros educandos distinguirse 
                            por sus valores e integrarse exitosamente en 
                            la sociedad.</p>
                        <p>El conjunto de valores que a continuación se 
                            identifican, forman parte fundamental del 
                            ideario institucional, con el cual guiamos 
                            nuestro accionar:</p>
                        <div class="row">
                        <div class="col-sm-6">
                            <ul >
                                <li>Responsabilidad</li>
                                <li>Integridad</li>
                                <li>Tolerancia</li>
                                <li>Solidaridad</li>
                            </ul>
                        </div>
                        <div class="col-sm-6">
                            <ul >
                                <li>Generosidad</li>
                                <li>Respeto</li>
                                <li>Justicia</li>
                                <li>Honestidad</li>
                            </ul>
                        </div>
                       </div>
                    </div>
                 
                </div>
            </div>

{% endblock %}
