{% extends "base.html" %}
{% block titulo  %}
    Secundaria
{% endblock %}
{% block tituloH1  %}
    Secundaria
{% endblock %}
{% block contenido_principal %}
            <div class="container-fluid">
                <div class="row align-items-center">
                    <div class="col-sm-12">
                        <hr>
                    </div>
                    <div class="col-sm-12 col-md-6">
                        
                        <img src="recursos/secundaria.jpg" alt="Secundaria - Grupo de estudiantes de secundaria en un aula de clase con su docente" class="img-fluid">
                    </div>
                    <div class="col-sm-12 col-md-6">
                        <h2 class="text-center">Secundaria</h2>
                            <p>Si bien la educación secundaria tiene como objetivo 
                                capacitar al alumno para poder iniciar estudios de 
                                educación superior, en el Liceo Panamericano creemos 
                                que nuestro objetivo es desarrollar las habilidades 
                                intelectuales, personales, emocionales y sociales que 
                                los alumnos necesitan para vivir aprender y convivir 
                                armónicamente en un mundo cada vez más competitivo y globalizado.</p>
                    </div>
                    <div class="col-sm-12">
                        <hr>
                    </div>
                </div>
            </div>
{% endblock %}